<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filetosecure.plist</key>
	<string>2DB93014D0115D9CEF3161D8186BEA09A74C0E1A6458128AC77792C03911A29F</string>
</dict>
</plist>
